@font-face {
    font-family: 'ratchet';
    src: url('ratchet.ttf');
}

@font-face {
    font-family: 'lombax';
    src: url('lomax.ttf');
}

header{
    margin:auto;
    text-align: center;
    height: auto;
    flex-direction: column;
    
}


#imglogo{
    
    width: 10vw;
    
    padding-top: 1%;
    margin-bottom: -3%;
}

h1{
    font-size: 5vw;
    color: rgb(0, 204, 255);
    text-shadow:0px 0px 30px rgb(0, 204, 255),0px 0px 20px rgb(0, 204, 255);
    font-family: 'ratchet';
    margin-bottom: -3%;
    
}

h2{
    font-size: 30px;
    color: rgb(0, 204, 255);
    text-shadow:0px 0px 20px rgb(0, 204, 255);
    font-family: 'ratchet';
    margin-bottom: -40px;
    
}

h3{
    
    text-align: center;
    font-family: 'ratchet';
    
}

#imgprod{
    margin-left: auto;
    margin-right: auto;
}


body {
    background: url('vector.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
}

main{
    margin-top: 5vh;
    margin-bottom: 8vh;
}
  
#b1 {
    
    font-family: 'ratchet';
    
    cursor: pointer;
    
    color: rgb(0, 204, 255);
    background-color: black;
    border-style: outset;
    border-width: 8px;
    border-radius: 15px;
    border-color: rgb(0, 204, 255);
    box-shadow: 0 0 50px 0 rgb(0, 204, 255);
    text-shadow:0px 0px 20px rgb(0, 204, 255);
    font-size: 1.2vw;
    
    margin: 2.5%;
    display: flex;
    width: 20%;
    
    flex-direction: column;

   
}
  
#b1:hover {
    box-shadow: 0 0 80px 0 rgb(255, 196, 0);
    border:outset;
    border-width: 8px;
    color: rgb(255, 196, 0);
    text-shadow:0px 0px 20px rgb(255, 196, 0);
}

#b1:active {
    
    transform: translateY(4px);
    box-shadow: 0 0 80px 0 rgb(255, 196, 0), 0 0 80px 0 rgb(255, 196, 0);
    border:inset;
    border-width: 8px;
    color: rgb(255, 196, 0);
}

.columns {
    
    margin:auto;
    display: flex;
    text-align:center;
    width:60vw;
    height: 15vw;
     
}

.columns2 {
    margin:auto;
    display: flex;
    text-align:center;
    width:32vw;
}

#b2 {

    font-family: 'ratchet';
    text-align: center;
    cursor: pointer;
    
    color: rgb(255, 196, 0);
    background-color: transparent;
    text-shadow:0px 0px 20px rgb(255, 196, 0);
    font-size: 1.2vw;
    
   
    border:none;
    margin:auto;
    
   
}

#b2:hover {
    
    border:none;
    color: rgb(255, 153, 0);
}

#b2:active {
    
    transform: translateY(4px);
    border:none;
}   


footer{
    font-size: 1.2vw;
    color: rgb(255, 196, 0);
    text-shadow:0px 0px 20px rgb(255, 196, 0);
    margin:auto;
    flex-direction: column ;
   
    text-align: center;
    
}
